/*General style*/
*{
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

*{
  font-family: Roboto, sans-serif;
}

a,
p {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border-style: none;
  border-radius: 5px;
  min-width: 100px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/*Header*/
/*Nav*/
header {
  width: 100%;
  background-color: #294681;
}

.firstpart {
  height: 550px;
  background-image: url('../img/background-header.png');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
}

nav ul li,
nav button {
  display: inline-block;
  float: left;
  padding: 10px;
}

.login {
 background-color: #294681;
 color: white;
 border: 1px solid white;
}

.green {
  background-color: #64de82;
  color: white;
  padding: 11px;
}

img {
  float: left;
  margin-left: 5%;
  margin-top: 10px;
  margin-right: 20px;
}

ul li,
button {
  margin-top: 10px;
}

.diventatutor {
  padding-left: 30px;
}

button {
  margin-left: 10px;
  padding-right: 5%;
}

/*Parte centrale header*/
.secondpart {
  position: absolute;
  top: 180px;
  left: 5%;
}

.secondpart h1 {
  color: white;
  font-size: 40px;
  line-height: 50px;
}

.secondpart button {
  padding: 20px;
}

/*Prima sezione*/
.greystring {
  height: 150px;
  background-color: #bcbcbc;
}

.greystring h2,
.greystring p {
  text-align: center;
}

.greystring h2 {
  padding: 20px;
  padding-top: 40px;
}

.greystring p {
  font-size: 20px;
  color: #727272;
}

/*Seconda sezione*/
.primoblocco,
.secondoblocco,
.terzoblocco {
  width: 26,666%;
  float: left;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

.primoblocco img,
.secondoblocco img,
.terzoblocco img {
  width: 200px;
  height: 200px;
  margin-left: 50%;
  transform: translate(-50%);
  padding-bottom: 20px;
}

.primoblocco h3,
.secondoblocco h3,
.terzoblocco h3 {
  color: #64de82;
}

.primoblocco p,
.secondoblocco p,
.terzoblocco p {
  color: #727272;
  padding-top: 20px;
  line-height: 25px;
}

hr {
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
}

.quartoblocco {
  margin-left: 5%;
  width: 45%;
  height: 200px;
  float: left;
}

.quintoblocco {
  margin-right: 5%;
  width: 45%;
  height: 200px;
  float: right;
}

.quintoblocco h2 {
  padding: 25px;
  line-height: 35px;
}

.quintoblocco p {
  padding: 10px;
  line-height: 25px;
  color: #727272;
  padding-left: 25px;
}

.quintoblocco a {
  color: #294681;
  font-size: 13px;
  padding-left: 25px;
  text-decoration: underline;
}
